## 1

In [4]:
import pandas as pd

In [1]:
url = "https://raw.githubusercontent.com/rfordatascience/tidytuesday/master/data/2020/2020-05-05/villagers.csv"
df = pd.read_csv(url)

NameError: name 'pd' is not defined

## 2

In [3]:
print(df.head())

   row_n       id     name  gender    species birthday personality  \
0      2  admiral  Admiral    male       bird     1-27      cranky
1      3  agent-s  Agent S  female   squirrel      7-2       peppy
2      4    agnes    Agnes  female        pig     4-21        uchi
3      6       al       Al    male    gorilla    10-18        lazy
4      7  alfonso  Alfonso    male  alligator      6-9        lazy

          song    phrase           full_id  \
0   Steep Hill   aye aye  villager-admiral
1      DJ K.K.  sidekick  villager-agent-s
2   K.K. House   snuffle    villager-agnes
3   Steep Hill   Ayyeeee       villager-al
4  Forest Life  it'sa me  villager-alfonso

                                                 url
0  https://villagerdb.com/images/villagers/thumb/...
1  https://villagerdb.com/images/villagers/thumb/...
2  https://villagerdb.com/images/villagers/thumb/...
3  https://villagerdb.com/images/villagers/thumb/...
4  https://villagerdb.com/images/villagers/thumb/...

In [4]:
rows, columns = df.shape
print(f"Number of rows: {rows}")
print(f"Number of columns: {columns}")

Number of rows: 391
Number of columns: 11

A variable contains all values that measure the same attribute or characteristic and is represented by a column in the dataset (e.g. birthday or personality).

An observation refers to all values that are of the same data point (e.g. each villager) and is represented by a row in the dataset.

https://chatgpt.com/share/b597b938-0e31-4a0b-8301-8103b9a173e6

# 3

In [5]:
df.describe() # summary isnt the most useful as the only numerical data is row_n

            row_n
count  391.000000
mean   239.902813
std    140.702672
min      2.000000
25%    117.500000
50%    240.000000
75%    363.500000
max    483.000000

In [6]:
df['species'].value_counts() # summary of species in dataset

species
cat          23
rabbit       20
frog         18
squirrel     18
duck         17
dog          16
cub          16
pig          15
bear         15
mouse        15
horse        15
bird         13
penguin      13
sheep        13
elephant     11
wolf         11
ostrich      10
deer         10
eagle         9
gorilla       9
chicken       9
koala         9
goat          8
hamster       8
kangaroo      8
monkey        8
anteater      7
hippo         7
tiger         7
alligator     7
lion          7
bull          6
rhino         6
cow           4
octopus       3
Name: count, dtype: int64

https://chatgpt.com/share/2dcd252e-33c2-44f1-871c-8e9fe903d597

# 4

In [5]:
df2 = pd.read_csv("https://raw.githubusercontent.com/mwaskom/seaborn-data/master/titanic.csv")

In [1]:
df2 = pd.read_csv("https://raw.githubusercontent.com/mwaskom/seaborn-data/master/titanic.csv"

SyntaxError: incomplete input (3673020066.py, line 1)

In [3]:
df2 = pd.read_csv("https://raw.githubusercontent.com/mwaskom/seaborn-data/master/titanics.csv")

HTTPError: HTTP Error 404: Not Found

In [8]:
df2.shape[0]

891

In [9]:
df2.describe()

         survived      pclass         age       sibsp       parch        fare
count  891.000000  891.000000  714.000000  891.000000  891.000000  891.000000
mean     0.383838    2.308642   29.699118    0.523008    0.381594   32.204208
std      0.486592    0.836071   14.526497    1.102743    0.806057   49.693429
min      0.000000    1.000000    0.420000    0.000000    0.000000    0.000000
25%      0.000000    2.000000   20.125000    0.000000    0.000000    7.910400
50%      0.000000    3.000000   28.000000    0.000000    0.000000   14.454200
75%      1.000000    3.000000   38.000000    1.000000    0.000000   31.000000
max      1.000000    3.000000   80.000000    8.000000    6.000000  512.329200

In [10]:
df2.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True

`df2.shape[0]` returns the total number of rows in the dataset (regardless of the values of each cell in the row) while `df2.describe()` only counts non NA cells

https://chatgpt.com/share/b3d70869-1bae-4151-8da0-2333393be864

# 5

An attribute of an object (e.g. `db.shape`) can be thought of as a variable that contains data about said object. 

A method (e.g. `db.describe()`) is a function defined in the class that created an object that can be used to get information about an object or modify the object (or both)

https://chatgpt.com/share/7208e323-b4b2-48ab-8e67-da7be8977702

# 6

`count`: number of non NA cells in a column

`mean`: mean of the values in a column, is sum of all values divided by number of values in the column

`std`: standard deviation of values, calculated by squaring difference between each value and the mean, summing the squares, dividing the sum by the number of values minus one, and finally square rooting that result

`min`: smallest value in the column

`25%`: value of lower quartile in column, value at at the 25% mark of the column if it was sorted

`50%`: median value of column, middle value of the column if it was sorted

`75%`: value of upper quartile in column, value at the 75% mark of the column if it was sorted

`max`: largest value in the column

*Did not use chatbot as we went through this in the lecture*

# 7

`dropna` can be used to remove both columns and rows, `del` can only be used to remove columns

`dropna` can remove multiple columns or rows at once, `del` can only be used to remove one column at a time

`dropna` can be in place (modifying the dataframe instead of creating a new one) or can create a new dataframe, `del` is in place only

`del` can also be used to delete columns in general

*https://chatgpt.com/share/1f5c513c-a209-4971-84ba-2439f36bce99*

# 8

In [11]:
df2.groupby("survived")["age"].describe()

          count       mean        std   min   25%   50%   75%   max
survived
0         424.0  30.626179  14.172110  1.00  21.0  28.0  39.0  74.0
1         290.0  28.343690  14.950952  0.42  19.0  28.0  36.0  80.0

In [4]:
df3.groupby("survived")["age"].describe()

NameError: name 'df3' is not defined

In [6]:
df2.groupby("survived")["age"].describle()

AttributeError: 'SeriesGroupBy' object has no attribute 'describle'

In [7]:
df2.groupby("Survived")["age"].describe()

KeyError: 'Survived'

In [10]:
df2.groupby("survived").describe()

         pclass                                                 age  \
          count      mean       std  min  25%  50%  75%  max  count
survived
0         549.0  2.531876  0.735805  1.0  2.0  3.0  3.0  3.0  424.0
1         342.0  1.950292  0.863321  1.0  1.0  2.0  3.0  3.0  290.0

                     ... parch        fare                             \
               mean  ...   75%  max  count       mean        std  min
survived             ...
0         30.626179  ...   0.0  6.0  549.0  22.117887  31.388207  0.0
1         28.343690  ...   1.0  5.0  342.0  48.395408  66.596998  0.0


              25%   50%   75%       max
survived
0          7.8542  10.5  26.0  263.0000
1         12.4750  26.0  57.0  512.3292

[2 rows x 40 columns]

### 1

`df2.groupby("survived")["age"].describe()` sorts each observation in the dataframe into two groups depending on their `survived` value. The `age` column is selected and `describe` method is then called to generate statistics for it.

https://chatgpt.com/share/fb2c1da8-bc07-4a40-8009-3f552742ce84

### 2

The count in `df.groupby("col1")["col2"].describe()` counts the number of non NA observations in a group (which consists of observations that have the same value for `survived`), while the count in `df.describe()` counts the number of non NA values in a column.

https://chatgpt.com/share/c8bcf3c6-1b62-4015-bb58-a333743f234b

### 3
ChatGPT is more convinient for fixing the errors I intentionally introduced earlier, as I dont need to spend as much time searching for relevant information. However, I believe that google results may be more effective if my code and the errors become more complicated.

https://chatgpt.com/share/0ec6d1fe-6b74-401f-b10f-d48cb90415ee

# 9

Yes